body {
    background: linear-gradient(to right, #0010ee, #880000)
}

.container {
    max-width: 350px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px lightgray;
}

#display {
    text-align: right;
    height: 90px;
    line-height: 45px;
    padding: 16px 8px;
    word-wrap: break-word;
    border: 0.5px solid black;
    background: white;
}

#previous {
    font-size: 18px;
    font-style: italic;
}

#current {
    font-size: 30px;
}

.buttons {
    display: grid;
    border: 0.5px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
    border: 0.5px solid black;
    line-height: 75px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

#equals {
    background-color: gold;
}

#clear {
    background-color: turquoise
}

#plus {
    background-color: red
}

#minus {
    background-color: lightgreen
}

#times {
    background-color: yellow
}

#divided {
    background-color: #00AAEE
}